@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
	--color-general:#888585;
	--fondo-header:#4e4e4e;
	--fondo-footer:#383737;
	--titulos: #3c3838;
	--azul: #41c1fe;
	--fondo-gris: #f3f3f3;

}
body{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: var(--color-general);
}

header{
	background-color: var(--fondo-header);
	
}

#hero-title{
	background-image: url("../img/header_bg.jpg");
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	padding: 15% 0;
}

#hero-title h1{
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
}

.texto-pequeno{
	font-family: 'Oswald', sans-serif;
	color: var(--titulos);
	font-size: 16px;
	text-transform: uppercase;
}

.texto-grande {
	font-family: 'Oswald', sans-serif;
	color: var(--titulos);
	font-size: 50px;
	text-transform: uppercase;
	font-weight: 700;
}

.numero{
	font-family: 'Oswald', sans-serif;
	color: #CCCBCB;
	font-size: 55px;
	font-weight: 800;
}

.col-izq{
	text-align: left;
}

.col-der{
	text-align: right;
}

#welcome{
	text-align: center;
}

.titulo-pequeno{
	font-family: 'Oswald', sans-serif;
	color: var(--titulos);
	font-size: 20px;
	font-weight: 800;
}

.boton-cta{
	font-family: 'Oswald', sans-serif;
	font-weight: 800;
	font-size: 18px;
	color: #fff;
	background-color: var(--azul);
	padding: 4% 10%;
	border-radius: 50px;
	text-decoration: none;
	text-transform: uppercase;
}

#coaches{
	text-align: center;
	padding: 5% 0;
	background-color: var(--fondo-gris);
}

#coaches h4{
	font-family: 'Oswald', sans-serif;
	font-weight: 800;
	font-size: 20px;
	color: var(--titulos);
}

#coaches p{
	text-transform: uppercase;
}

#gallery{
	text-align: center;
	padding: 5% 0;
}

#gallery .texto-grande{
	font-size: 30px;
	text-align: left;
}

#welcome h2 {
	padding-top: 70px;
}

footer{
	background-color: var(--fondo-footer);
	padding: 26px 0;
}




























